* {
--background-color:  #8bd1cb80;
--game-color: #D5D1D1;
--tile: #94D6F3;
--heading: #044071;
--yellow: #FFC907;
}

body {
    background: var(--background-color);
    font-family: "Montserrat", sans-serif
}

img {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 250px;  
}

.main-container {
    margin: 0 auto;
}
.main-text {
  gap: 10px;
}
.hidden {
  display: none;
}

h1 {
    max-width: 500px;
    text-align: center;
    font-weight: bold;
    color:  var(--heading);
}

.start-button {
  font-size: 18px;
  background-color: #FFC907;
  font-weight: 600;
  padding: 8px 15px 8px 15px;
  margin-bottom: 10px;
}

.start-button:hover, .start-button:active {
    background-color: transparent;
    border: 2px solid #FFC907;
    transform: scale(1.1);
}
#level-title {
  font-weight: 700;
  color: var(--heading);
}
.game-content {
    margin: 0 auto;
    background-color: var(--game-color);
    max-width: 650px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 15px;
}

.level-1, .level-2, .level-3 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#score-display {
    font-size: 20px;
    padding-top: 10px;
    font-weight: 600;
    color: var(--heading);
}

.row-container {
    
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    
}

.material-symbols-outlined {
    font-size: 50px;
    color: #277196;
}
.tile:not(.correct) .material-symbols-outlined {
    color: #A07855; /* earthy brown */
}
.tile {
    display: inline;
    background-color: var(--tile);
    aspect-ratio: 1/1;
    padding: 30px;
    border-radius: 15px;
}
.block {
  background-color: #A07855;
}
.tile {
  cursor: pointer;
}

.tile-start {
    outline: 4px solid #FFD54F;
}
.tile-active {
    outline: 4px solid #4FC3F7;
}
.tile-correct {
    background-color: #8CE99A;
}
.tile-wrong {
    background-color: #FF9AA2;
}
.tile-disabled {
    opacity: 0.6;
    pointer-events: none;
}

#instruction-modal {
  display: flex;
  justify-content: center;
  align-items: center;

}
.modal-content {
  max-width: 500px;
  height: 460px;
  display: flex;
  gap: 10px;
  background: linear-gradient(to bottom, #84ece4 0%, #ffee8c 100%);
  color: #000000;
  font-weight: 600;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 15px;
  border: solid transparent; 
  font-family: "Montserrat", sans-serif;
  border: 3px solid var(--heading);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.modal-img {
  margin: 0 auto;
}
.modal-content ul {
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.267);
  border-radius: 10px;
}

.modal-content li {
  padding-left: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#close-win-modal, #close-modal {
  width: fit-content;
  border: none;
  background-color:   var(--heading);
  color: white;
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
  font-weight: 600;
}

#close-win-modal:hover, #close-modal:hover, #close-win-modal:active, #close-modal:active {
  transform: scale(1.1);
  background: transparent;
  border: 3px solid var(--heading);
  color: var(--heading);
}

#timer-display {
  font-size: 20px;
  font-weight: 600;
  color: var(--heading);
}

.next-level-button, .play-again-button {
  background-color: var(--heading);
  color: white;
  font-weight: 600;
  border: none;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  margin-top: 20px;
}

.next-level-button:hover, .play-again-button:hover, .next-level-button:active, .play-again-button:active {
  background-color: transparent;
  color: var(--heading);
  border: 2px solid var(--heading);
  cursor: pointer;
  
}

.score-popup {
  position: absolute;
  color: green;
  font-weight: bold;
  font-size: 1rem;
  pointer-events: none;
  animation: floatUp 1s ease-out forwards;
}

@keyframes floatUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}

.win-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
#level-complete, #time-score {
  font-weight: 600;
}
#level-num, #time-num, #score-num {
  font-weight: 700;
  color: var(--heading);
}
#win-message {
  font-weight: 700;
  color: var(--heading);
}

.win-modal-content {
  background: linear-gradient(to bottom, #84ece4 0%, #ffee8c 100%);
  border-radius: 15px;
  padding: 30px;
  width: 350px;
  text-align: center;
  border: 4px solid var(--heading);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#win-title {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: var(--heading);
}

#level-complete, #time-score, #win-message {
  font-size: 18px;
}

.footer {
  background-color:  #FFF5E1;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.footer-content {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  width: 100%;
}

.logo {
  width: 200px;
  height: 50px;
  background-image: url('https://www.charitywater.org/vite/assets/cw-logo-dark-BcPk1WVG.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 50px;
}

.links {
  display: flex;
  gap: 20px;
  padding-right: 50px;
}

.links a {
  color: var(--heading);
  font-weight: 600;
  text-decoration: none;
}

.links a:hover, .links a:active {
  text-decoration: underline;
}

@media (hover: hover) and (pointer: fine) {
  .tile:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
    max-width: 300px;
  }

  h2, h3 {
    font-size: 1.1rem;
  }
  #timer-display {
    font-size: 16px;
  }
  .game-content {
    max-width: 95%;
    padding: 12px;
  }

  .row-container {
    gap: 5px;
  }

  .tile {
    padding: 16px;
    border-radius: 10px;
  }

  .material-symbols-outlined {
    font-size: 36px;
  }

  #score-display {
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
  }

  .start-button {
     width: fit-content;
    font-size: 0.9rem;
    padding: 10px 15px 10px 15px;
    font-weight: 700;
  }

  .next-level-button {
    font-size: 20px;
    
  }
  
  .modal-content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 370px;
    height: 430px;
    padding-left: 15px;
    padding-right: 15px;
    gap: 2px;
  }

  .logo {
    margin: 0;
  }

  .win-modal-content {
    max-width: 300px;
    max-height: 300px;
  }
  .footer-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-bottom: 10px;
  }
  
  .links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 0px;
  }
}

/* Even smaller screens (phones under ~400px) */
@media (max-width: 400px) {
  h1 {
    font-size: 1.2rem;
  }
  .main-text {
    gap: 3px;
  }
  .tile {
    padding: 15px;
  }
  .level-1, .level-2, .level-3 {
    gap: 3px;
  }
  #timer-display {
    font-size: 16px;
  }
  .material-symbols-outlined {
    font-size: 30px;
  }

  .start-button {
    width: fit-content;
    font-size: 0.9rem;
    padding: 10px 15px 10px 15px;
    font-weight: 700;
  }

  .win-modal-content {
    max-width: 300px;
  }

  .modal-content {
    max-width: 350px;
    max-height: 400px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .modal-content li {
    padding-left: 6px;
    padding-top: 6px;
    padding-bottom: 1px;
  }
  
  .next-level-button {
    font-size: 18px;
  }
  
  .logo {
    margin: 0;
  }

  .footer-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-bottom: 10px;
  }
  
  .links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 0px;
  }
}