* {
--background-color: #FBFAE8;
--game-color: #D5D1D1;
--tile: #94D6F3;
}

body {
    background: var(--background-color);
}

.main-container {
    margin: 0 auto;
}

h1 {
    max-width: 450px;
    text-align: center;
    font-weight: bold;
}

.custom-button {
    background-color: #FFC907;
}

.game-content {
    margin: 0 auto;
    background-color: var(--game-color);
    max-width: 650px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 15px;
}

.main-grid {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.row-container {
    
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    
}

.material-symbols-outlined {
    font-size: 35px;
    color: #277196;
}
.tile {
    display: inline;
    background-color: var(--tile);
    aspect-ratio: 1/1;
    padding: 50px;
    border-radius: 15px;
}